<div class="container w-75 mx-auto py-3 text-center">
  <app-alert *ngIf="message" [message]="message"></app-alert>
  <h2 class="py-3">Sign Up</h2>

  <form [formGroup]="registerFormGroup">
    <div class="form-floating mb-3">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        formControlName="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <!-- <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div> -->
    <div class="py-3 d-grid gap-2">
      <button class="btn btn-primary btn-lg" (click)="onSignUp()">
        Sign Up
      </button>
    </div>
  </form>

  <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>
